@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width:8px;
    margin-left: 1px;
    margin-right: 1px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@layer utilities {
    .text-custom {
      font-size: 16px; /* Adjust the font size as needed */
    }
  }